<div class="container">

  <div class="logo">
    <h1>
      <a routerLink="/" routerLinkActive="active">Angular market</a>
    </h1>
    <div class="prod">
    
    </div>
    <hr />
   
    <nav>
      <ul>
        <li>
          <a routerLink="/Prod-list" routerLinkActive="active">Products list</a>
        </li>
        <li>
          <a routerLink="/New-prod" routerLinkActive="active">Add New products</a>
        </li>
      </ul>
    </nav>
    <div class="prod-list">
      <router-outlet></router-outlet>
    </div>

  </div>
  <div class="new-prod">
  </div>
</div>